//COLORS
$border-color: #ccc
$background: #f6f6f6

$black: #000
$white: #fff

$blue: #0f0fff
$red: #ff0f0f

$menu-background: #7F7E7E
$menu-background-active: #C4C4C4

//Z-INDEX VALUES
$z-index-top-menu: 10
