//COLORS
$border-color: #ccc
$background: #f6f6f6

$black: #000
$gray-font: #7a7a7a
$white: #fff

$blue: #0f0fff
$red: #ff0f0f
$pink: #ff2b84
$green: #34af33
$orange: #ff851b

$menu-background: #7f7e7e
$adventure-menu-background: #606060
$adventure-submenu-background: #7a7a7a
$menu-background-active: #c4c4c4

$point-background: #c4c4c4
$clue-background: #eee

$checkbox-background: #c4c4c4
$checkbox-background-active: #7fe37d
$input-disabled: #f8f8f8

$disabled-button: #ccc

//DIMENSIONS
$top-menu-height: 3.5rem

//Z-INDEX VALUES
$z-adventure-line: -1
$z-top-menu: 1
$z-thumb-cover: 1
$z-adventure-structure: 2
$z-adventure-content: 3
$z-adventure-structure-expander: 4
$z-top-menu-dropdown: 5
$z-tooltips: 90
$z-modal-mask: 9999
$z-modal-window: 10000
$z-adventure-loader: 20000
