.adventure-page-wrapper
  margin: 0 auto
  max-width: 90rem
  position: relative
  height: calc(100vh - #{$top-menu-height})

.adventure-panel
  position: fixed
  top: $top-menu-height
  left: 0
  right: 0
  bottom: 0
  box-sizing: border-box
  background-color: $white
  padding: 1.5rem
  z-index: $z-adventure-content
  transition: left 0.3s ease-in-out

  &--scrollable
    overflow-y: auto

  &__inner
    padding-bottom: 2rem

  &__header
    padding-bottom: 0.5rem
    margin-bottom: 1rem
    border-bottom: 3px solid $pink
    font-size: 1.5rem
    font-weight: bold

    &--over-tabs
      border-bottom: none
      margin-bottom: 0

  &__title
    display: inline-block
    padding-left: 0.5rem

  &__remove, &__submit
    float: right

.adventure-cover
  width: 100%
  position: relative

  img
    display: block
    object-fit: cover
    width: 100%
    height: 100%

.adventure-promo-image
  margin-top: 0.5rem
  height: 0
  position: relative
  padding-bottom: 56.25%

  img
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    object-fit: cover
    width: 100%
    height: 100%

.new-adventure-form
  &__header
    padding-bottom: 1rem
    margin-bottom: 1rem
    border-bottom: 3px solid $pink
    font-size: 1.5rem
    font-weight: bold

  &__title
    padding-left: 0.5rem
    display: inline-block
    vertical-align: middle

  &__map-controls
    top: $top-menu-height
    height: $top-menu-height
    right: 0
    width: 50%
    position: fixed
    padding: 0.25rem
    background-color: $white
    box-sizing: border-box
    z-index: 3

  &__map
    position: fixed !important
    right: 0
    bottom: 0
    top: $top-menu-height
    left: 30rem

  &__contents
    position: fixed
    width: 30rem
    top: $top-menu-height
    left: 0
    bottom: 0
    background-color: $white
    padding: 2rem 1rem
    border-right: 1px solid $border-color
    box-shadow: 0px 2px 5px -3px rgba($black, 0.7)
    box-sizing: border-box
    z-index: 4
    overflow-y: auto
