.puzzle-component
  padding-top: 1rem

  &__header
    display: flex
    align-items: center
    border-bottom: 2px solid $clue-background
    padding-bottom: 1rem
    margin-bottom: 1rem
    height: 3.125rem
    line-height: 3.125rem

  &__name
    font-size: 1.25rem
    font-weight: bold
    margin-right: 1rem

.puzzle-preview
  img
    max-width: 15rem
    object-fit: cover
    transition: opacity 0.3s ease-in-out

    &.v-enter, &.v-leave-active
      opacity: 0

.puzzle-component-filler
  min-height: 5rem

  &__header
    padding: 1.5rem 0

