.adventure-analytics
  padding-top: 2rem

.analytics-chart-header
  font-weight: bold
  text-align: center
  margin-bottom: 1rem

  &--pad-top
    padding-top: 1rem

.analytics-chart-subheader
  margin: 0.5rem 0
  text-align: center

.analytics-rating
  display: flex
  align-items: center

  & + &
    margin-top: 0.5rem

  &__label
    width: 3.5rem
    text-align: right
    padding-right: 1rem
    flex-shrink: 0

  &__progress
    flex: 1

.analytics-total-ratings
  margin-bottom: 1rem
  font-weight: bold

.analytics-stars
  margin-bottom: 1rem
  display: flex
  align-items: flex-end

  &__label
    display: inline-block
