body
  font-family: sans-serif
  height: 100vh
  width: 100vw
  background-color: $background

a
  text-decoration: none
  color: $blue

  &:hover, &:focus
    text-decoration: underline

.wrapper
  padding: 1rem
