.icon
  display: inline-block
  vertical-align: middle
  width: 1.25rem
  height: 1.25rem
  background-repeat: no-repeat
  flex-shrink: 0

  &--sm
    width: 1rem
    height: 1rem

  &--align-start
    align-self: flex-start

  &--pad-right
    margin-right: 0.5rem

  &--pad-left
    margin-left: 0.5rem

  &--add
    background-image: url('assets/images/icon-add.svg')

  &--add-white
    background-image: url('assets/images/icon-add-white.svg')

  &--add-white
    background-image: url('assets/images/icon-add-white.svg')

  &--attachment
    background-image: url('assets/images/icon-attachment.svg')

  &--audio
    background-image: url('assets/images/icon-audio.svg')

  &--clock
    background-image: url('assets/images/icon-clock.svg')

  &--close
    background-image: url('assets/images/icon-close.svg')

  &--close-white
    background-image: url('assets/images/icon-close-white.svg')

  &--eye
    background-image: url('assets/images/icon-eye.svg')

  &--eye-inactive
    background-image: url('assets/images/icon-eye-inactive.svg')

  &--info
    background-image: url('assets/images/icon-info.svg')

  &--list-a
    background-image: url('assets/images/icon-list-a.svg')

  &--list-b
    background-image: url('assets/images/icon-list-b.svg')

  &--lock
    background-image: url('assets/images/icon-lock.svg')

  &--lock-white
    background-image: url('assets/images/icon-lock-white.svg')

  &--pencil
    background-image: url('assets/images/icon-pencil.svg')

  &--pencil-white
    background-image: url('assets/images/icon-pencil-white.svg')

  &--question-mark
    background-image: url('assets/images/icon-question-mark.svg')

  &--reposition
    background-image: url('assets/images/icon-reposition.svg')

  &--settings
    background-image: url('assets/images/icon-settings.svg')

  &--video
    background-image: url('assets/images/icon-video.svg')
