.top-menu-wrapper
  height: $top-menu-height
  background-color: $menu-background

.top-menu
  display: flex
  align-items: center
  z-index: $z-index-top-menu
  box-sizing: border-box

  &__links
    height: $top-menu-height
    display: flex
    justify-content: flex-end
    flex: 1

  &__link
    color: $white
    display: inline-block
    height: $top-menu-height
    line-height: $top-menu-height
    padding: 0 1rem
    text-decoration: none
    transition: all 0.3s ease-in-out
    position: relative
    display: flex
    align-items: center

    &:hover, &:focus, &--active
      text-decoration: none

    &:hover, &--active
      background-color: $menu-background-active

  &__link:hover &__dropdown
    display: block

  &__dropdown
    display: none
    position: absolute
    left: 0
    top: $top-menu-height
    right: 0
    z-index: $z-index-top-menu-dropdown

  &__dropdown-option
    cursor: pointer
    background-color: $menu-background
    height: 1.5rem
    line-height: 1.5rem
    padding: 0.5rem
    color: $white
    text-align: center
    &:hover
      background-color: $menu-background-active
